*.txt
.DS_Store
.pyc
__pycache__/
*.py[cod]
*$py.class
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

### JetBrains+all Patch ###
# Ignore everything but code style settings and run configurations
# that are supposed to be shared within teams.
.idea/*
!.idea/codeStyles
!.idea/runConfigurations